@import "../../index.scss";

.about {
  padding-top: 12rem;

  .about-container {
    padding-top: 3rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    .image {
      flex: 1 1 40rem;

      img {
        width: 100%;
      }
    }

    .content {
      flex: 1 1 40rem;

      span {
        color: $orange;
        font-size: 2.5rem;
      }

      h3 {
        color: $black;
        font-size: 3rem;
        padding-top: 0.5rem;
      }

      p {
        color: $light-color;
        font-size: 1.4rem;
        line-height: 2;
        padding: 1rem 0;
      }
    }
  }
}

.gallery {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
      height: 25rem;
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        &:hover {
          transform: scale(1.2);
        }
      }

      &:hover .icons {
        bottom: 0;
      }

      .icons {
        text-align: center;
        background: rgba(0, 0, 0, 0.7);
        padding: 1.5rem 0;
        position: absolute;
        bottom: -10rem;
        left: 0;
        right: 0;
        z-index: 10;

        .icon-item {
          font-size: 2.5rem;
          color: $white;
          margin: 1.5rem;

          &:hover {
            color: $orange;
          }
        }
      }
    }
  }
}
