@import "../../index.scss";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $white;
  box-shadow: $box-shadow;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;

  .logo {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 130px;
    height: 50px;
    cursor: pointer;
  }

  .navbar {
    .menu-link {
      font-size: 1.7rem;
      color: $light-color;
      margin: 0 1rem;

      &:hover {
        color: $orange;
      }
    }
  }

  .icons {
    display: flex;

    .items {
      font-size: 2.5rem;
      margin-left: 1.7rem;
      cursor: pointer;
      color: $light-color;

      &:hover {
        color: $orange;
      }
    }
  }

  .search-form {
    position: absolute;
    top: -115%;
    right: 2rem;
    width: 50rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    height: 5.5rem;
    box-shadow: $box-shadow;
    background: $white;

    &.active {
      top: 115%;
    }

    input {
      height: 100%;
      width: 100%;
      padding: 0 1.2rem;
      font-size: 1.6rem;
      color: $black;
      text-transform: none;
    }

    label {
      font-size: 2rem;
      margin-right: 1.7rem;
      cursor: pointer;
      color: $light-color;

      &:hover {
        color: $orange;
      }
    }
  }

  .shopping-cart {
    position: absolute;
    top: 115%;
    right: -105%;
    background: $white;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    width: 35rem;
    padding: 2rem;

    &.active {
      right: 2rem;
    }

    .box {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin-bottom: 1.5rem;
      position: relative;

      .trash {
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        font-size: 2rem;
        color: $light-color;
        cursor: pointer;

        &:hover {
          color: $orange;
        }
      }

      img {
        height: 10rem;
      }

      .content {
        h3 {
          font-size: 1.7rem;
          padding-bottom: 0.5rem;
          color: $black;
        }

        span {
          font-size: 1.5rem;
          color: $light-color;

          &.multiply {
            margin: 0 0.5rem;
          }
        }
      }
    }

    .total {
      color: $light-color;
      text-align: center;
      font-size: 2.2rem;

      span {
        color: $black;
      }
    }

    .btn {
      text-align: center;
      width: 100%;
    }
  }

  .auth-form {
    position: absolute;
    top: 115%;
    right: -105%;
    background: $white;
    border-radius: 0.5rem;
    box-shadow: $box-shadow;
    width: 35rem;
    padding: 2rem;

    &.active {
      right: 2rem;
    }
  }
}

#menu-btn {
  display: none;
}

@media (max-width: 991px) {
  .header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    .search-form {
      width: 100%;
      right: 0;
      border-radius: 0;

      &.active {
        top: 99%;
        border-top: $border;
        border-bottom: $border;
      }
    }

    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $white;
      border-top: $border;
      border-bottom: $border;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      .menu-link {
        margin: 1.5rem;
        padding: 1.5rem;
        background: $light-bg;
        font-size: 2rem;
        display: block;
        border-radius: 0.5rem;
      }
    }
  }
}
