@import "../../../index.scss";

.search-form {
  position: absolute;
  top: 110%;
  right: -110%;
  height: 5rem;
  width: 50rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: $box-shadow;
  border: 1px solid $black;

  &:hover {
    border: 1px solid $orange;
  }

  &.active {
    right: 2rem;
  }

  #search-box {
    height: 90%;
    width: 100%;
    text-transform: none;
    padding: 0 1.5rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
  }

  label {
    display: flex;
    align-items: center;
    height: inherit;
    overflow: hidden;
  }

  .search-icon {
    font-size: 3.5rem;
    padding-right: 1.5rem;
    color: $light-color;
    cursor: pointer;
    font-weight: bold;

    &:hover {
      color: $orange;
    }
  }
}

@media (max-width: 768px) {
  .header {
    .search-form {
      width: 90%;
    }
  }
}
