@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&family=Space+Mono&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2 linear;
}

$orange: #ff7800;
$black: #222;
$white: #fff;
$light-color: #666;
$light-bg: #f3f3f3;
$box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
$border: 0.1rem solid rgba(0, 0, 0, 0.1);
$outline: 0.1rem solid rgba(0, 0, 0, 0.1);
$outline-hover: 0.2rem solid var(--black);

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  padding: 3rem 2rem;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: $orange;
  color: $white;
  font-size: 1.7rem;
  cursor: pointer;

  &:hover {
    background: $black;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
