.home {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/bg-home.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10rem;
  padding-bottom: 10rem;

  .content {
    text-align: center;
    width: 60rem;

    h3 {
      color: var(--black);
      font-size: 3rem;

      span {
        color: var(--orange);
      }
    }

    p {
      color: var(--light-color);
      font-size: 1.7rem;
      padding: 1rem 0;
      line-height: 1.8;
    }
  }
}

.features {
  .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;

    .box {
      padding: 3rem 2rem;
      background: #fff;
      outline: var(--outline);
      outline-offset: -1rem;
      text-align: center;
      box-shadow: var(--box-shadow);

      &:hover {
        outline: var(--outline-hover);
        outline-offset: 0rem;
      }

      img {
        margin: 1rem 0;
        height: 15rem;
      }

      h3 {
        font-size: 2.5rem;
        line-height: 1.8;
        color: var(--black);
      }

      p {
        font-size: 1.5rem;
        line-height: 1.8;
        color: var(--light-color);
        padding: 1rem 0;
      }
    }
  }
}
